<section class="flex flex-wrap">
    <div class="rounded border-black w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mb-4">
        <h3 class="text-gray-700">Job Title: {{job_title}}</h3>
        <h4 class="text-gray-700">Job Location: {{job_location}}</h4>
        <h4 class="text-gray-700">Job Date: {{job_date}}</h4>
        <h4 class="text-gray-700">Hourly Wage: {{hourly_wage}}</h4>
        <h4 class="text-gray-700">Job Duration: {{job_duration}}</h4>
    </div>
</section>
<script src="/js/jobicon.js"></script>