   <a href="/jobview/{{id}}">
    <div class="content-center items-center rounded bg-blue-100 p-6 border-black w-1/2 mb-4">
        <h3 class="text-gray-700">Job Title: {{job_title}}</h3>
        <h4 class="text-gray-700">Job Location: {{job_location}}</h4>
        <h4 class="text-gray-700">Job Date: {{job_date}}</h4>
        <h4 class="text-gray-700">Hourly Wage: {{hourly_wage}}</h4>
        <h4 class="text-gray-700">Job Duration: {{job_duration}}</h4>
    </div>
   </a>
<script src="../../public/js/jobicon.js"></script>